body{
    margin: 5%;
    font-family: 'Poppins', sans-serif;  
    
    line-height: .5cm;
}
 
 a{
    text-decoration: none;
}
 #menu{ 
    list-style: none; 
    float: right;
  
  
}

.menus{
    margin: 40px;
    padding: 40px;
    width: 90%;

    
}
#menu li{
    float: left;
}
#menu li a{
    color: black;
    display: block;
    font-weight: bold;
    font-size: 16px;
    padding: 1px 50px;
    margin: 0%;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 30px;
}
p{
    color:dimgray;
    text-align: left;
}
.orange-highlight{
    color:orange
}

.me{
    display: flex;
}




.half-width{
    width: 80%;
   
  
    margin: 40px;
    padding: 40px;
  

}

.half-width img{
    width:50%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon, tomato );
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    text-align: right;
    
}

.single-experience{
    box-shadow: 5px 5px 30px gray;
    border-radius: 12px;
    height: 50%;
    background-color: white;
    width: 350px;
    

}


.experience-area{
    display: flex;
    clear: both;
    height: 600px;
    background-color: white;
    width: 100%;

}


.Bottom-Banner{

    height: 400px;
    padding: 50px 5px;
}
.Image-Box{
    background-image: url("images/bg-image.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 90%;
    padding: 140px 50px;
    margin: 50px 0px;
    

}
.Work{
    float: left;
    width: 50%;
    height: 80%;

}

.link-button-chat{
    
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon, tomato );
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    text-align: right;
    float:right;
   
}
.Work h1{
    font-size: 40px;
    color: white;
     margin: 2px;
     padding: 5px;

    
}

.experience{
    border: 30px solid blueviolet;
    width: 90%;
    height: 300px;
    margin: auto ;
    padding: 10px 10px 40px;
    border-radius: 12px;
   
}
.container{
    text-align: center;
}
#Power{
    text-align: center;
}
#Creative{
    text-align: center;
}
#Rock{
    text-align: center;
}

.menu{
    padding: 50px;
}


h5{
    font-size: 30px;
   margin: 30px;
    padding: 30px;
}


.add img{
    width: 30%;
    
    
    float: right;
}

.add{
    display: flex;
}
